.d-flex {
    display: flex;
    flex-direction: row;
}

.d-flex h4 {
    padding-top: 0;
}

img {
    width: 500;
    height: 200;
}

@media screen and (max-width: 960px) {
    .d-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        text-align: center;

    }

    .d-flex img {
        width: 335;
        height: 223;
    }

    .d-flex h4 {
        align-items: center;
        /* padding-left: 100px;
        padding-right: 0; */
        width: 100%;
        padding-top: 20px;
        padding-right: 25px;
    }
}