.main-image {
  background: url(https://wallpaperaccess.com/full/84248.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 80vh;
  position: relative;
  background-attachment: fixed;
}

.card-title {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.display-3 {
  text-align: center;
}

.lead {
  text-align: center;
}



.modal-body {
 background-color: aqua;
}

.w-100 {
  background-color: rgb(16, 43, 43);
}

.App {
  background: rgb(97,235,235);
background: linear-gradient(90deg, rgba(97,235,235,1) 1%, rgba(146,146,218,1) 26%, rgba(184,230,167,1) 50%, rgba(205,205,231,1) 75%, rgba(190,234,244,1) 100%);
}

.g-signin{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  /* these above 5 lines are to display the content on center of the screen. */
}